<ion-view id="page16">

    <ion-nav-title>
        {{ data.name }}
    </ion-nav-title>

    
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="dRYGOODS-list-item-container35">
            <form id="dRYGOODS-form8" class="list" ng-repeat="ing in ingredients">
                
                <!--@TODO word-wrap apply to labels. or make it font-size less-->
                <ion-checkbox ng-change="save(ing.id)" ng-model="objc[ing.id]">
                    <!--{{ ing.id }} ---> 
                    {{ ing.units }} - 
                    {{ ing.name }} 
                </ion-checkbox>
                
                
            </form>
        </div>
    </ion-content>
</ion-view>