<ion-view title="Free Recipes" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="freeRecipes-list6">
            
            <ion-item id="freeRecipes-list-item11">Pork Tenderloin with Roasted Cherries</ion-item>
            
            <ion-item id="freeRecipes-list-item12">Beef, Red Pepper and Snow Pea Stir-Fry</ion-item>
            
            <ion-item id="freeRecipes-list-item13">Meatball Sliders</ion-item>
            
            <ion-item id="freeRecipes-list-item14">Item</ion-item>
            
            <ion-item id="freeRecipes-list-item15">Item</ion-item>
            
            <ion-item id="freeRecipes-list-item16">Item</ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>