<ion-view title="Grocery List" id="page14">
    <ion-content padding="true" class="has-header">
        
        
        
        <ion-list id="groceryList-list12" >

            <ion-item class="item-icon-left assertive" id="groceryList-list-item54" 
                      ui-sref="tabsController.recipesCalendar">
                <i class="icon ion-ios-calendar-outline"></i>
                Recipes Calendar
            </ion-item>
            
            <ion-item class="item-icon-left" id="groceryList-list-item{{ category.category_id }}" 
                      ui-sref="tabsController.category:/{{ category.category_id }}"
                      ng-repeat="category in categories">
                <!--<i class="icon ion-ios-arrow-down"></i>-->
                <i class="icon ion-ios-arrow-right"></i>
                {{ category.name }}
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>