<ion-view title="Single Recipe" id="page5">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="{{ recipe.imageURL }}" width="100%" height="auto" 
                 style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        
        <h3 id="singleRecipe-heading2" style="color:#000000;">

             {{ recipe.name }}
        </h3>
        
        <div id="singleRecipe-markdown2" style="color:#000000;">
            <p>
                This sauce is, in one word, awesome!!
            </p>
        </div>
        <hr />
        
        
        
        <ion-item class="item-icon-left assertive" id="styledSingleRecipe-list-item20">
                <i class="icon ion-android-time"></i>
                Timing
        </ion-item>
        
        <ion-item id="styledSingleRecipe-list-item30">
            Preparation Time 
            {{ recipe.prepTime }}
        </ion-item>
        
        <ion-item id="styledSingleRecipe-list-item31">
            Cook Time 
            {{ recipe.totalTime }}
        </ion-item>
        <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider1"></ion-item>
        
        <ion-item class="item-icon-left assertive" id="styledSingleRecipe-list-item20">
            <i class="icon ion-android-time"></i>
                Timing
        </ion-item>
        
        <ion-item id="styledSingleRecipe-list-item30">
            Preparation Time  {{ recipe.prepTime }}
            
            Cook Time         {{ recipe.totalTime }}
            
        </ion-item>
        
        <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider1"></ion-item>
        
        
        <br />
        
        <h4 id="singleRecipe-heading3" style="color:#000000;">
            Ingredients
        </h4>
        <div id="singleRecipe-markdown4" style="color:#000000;">
            
            <ul ng-repeat="ing in ingredients">
                
                <li>                    
                    {{ ingredient.qty }}
                    {{ ingredient.name }} - 
                    {{ ingredient.type }}
                </li>
                

            </ul>
            

        </div>
        
        <div id="directions">
             <h4 id="singleRecipe-heading3" style="color:#000000;">
                Directions
            </h4>
            
            <ul ng-repeat="direction in directions">
                
                <li>
                    {{ direction }}                    
                </li>

            </ul>

        </div>
        
        
    </ion-content>
</ion-view>