<ion-view title="Single Recipe" id="page5">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/gYHPhcY7TvqHuy8b2Tv1_dsc_0978.display.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        
        <h3 id="singleRecipe-heading2" style="color:#000000;">

            Pork Tenderloin with Roasted Cherries
        </h3>
        
        <div id="singleRecipe-markdown2" style="color:#000000;">
            <p>
                This sauce is, in one word, awesome!
            </p>
        </div>
        <hr />
        
        <h4 id="singleRecipe-heading3" style="color:#000000;">
            Ingredients
        </h4>
        <div id="singleRecipe-markdown4" style="color:#000000;">
            
            <ul>
                <li>2 tablespoons olive oil divided</li>
                <li>1.5 teaspoons kosher salt divided</li>
                <li>0.25 teaspoon freshly ground black pepper</li>
                <li>1 teaspoon ground cumin</li>
                <li>0.25 teaspoon ground cinnamon</li>
                <li>0.25 teaspoon ground ginger</li>
                <li>1.25 pounds pork tenderloin excess fat and silver skin removed</li>
                <li>0.5 small red onion cut into long slivers</li>
                <li>8 ounces fresh cherries pitted and halved</li>
                <li>0.5 cup low-sodium chicken broth</li>
                <li>0.25 cup balsamic vinegar</li>
                <li>1 teaspoon brown sugar</li>
                <li>1 tablespoon unsalted butter</li>
                <li>0.5 cup crumbled blue cheese</li>
            </ul>
            
        </div>
    </ion-content>
</ion-view>