<ion-view title="Styled Single recipe" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="styledSingleRecipe-card22">
            <ion-item id="styledSingleRecipe-list-item21">Pork Tenderloin with Roasted Cherries</ion-item>
            <div class=" item item-image">
                <img src="img/XvvNp3UISQCR3liY77yj_dsc_0978.display.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <form id="styledSingleRecipe-form4" class="list">
                <label class="item item-select" id="styledSingleRecipe-select2">
                    <span class="input-label">Servings</span>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
            </form>
            <div class="item item-body" id="styledSingleRecipe-list-item-container2">
                <div id="styledSingleRecipe-markdown10" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="styledSingleRecipe-list-item20">
                <i class="icon ion-android-time"></i>Timing</ion-item>
            <ion-item id="styledSingleRecipe-list-item30">Preparation Time 15m</ion-item>
            <ion-item id="styledSingleRecipe-list-item31">Cook Time 35m</ion-item>
            <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider1"></ion-item>
            <ion-item class="item-icon-left royal" id="styledSingleRecipe-list-item23" ui-sref="ingredients">
                <i class="icon ion-egg"></i>Ingredients</ion-item>
            <ion-list id="styledSingleRecipe-list7">
                <ion-item id="styledSingleRecipe-list-item24">2 tablespoons olive oil divided</ion-item>
                <ion-item id="styledSingleRecipe-list-item25">1.5 teaspoons kosher salt divided</ion-item>
                <ion-item id="styledSingleRecipe-list-item26">0.25 teaspoon freshly ground black pepper</ion-item>
            </ion-list>
            <ion-item id="styledSingleRecipe-list-item27">1 teaspoon ground cumin</ion-item>
            <ion-item id="styledSingleRecipe-list-item28">0.25 teaspoon ground cinnamon</ion-item>
            <ion-item id="styledSingleRecipe-list-item29">1.25 pounds pork tenderloin excess fat and silver skin removed</ion-item>
            <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider2"></ion-item>
            <ion-item class="item-icon-left" id="styledSingleRecipe-list-item32" ui-sref="directions">
                <i class="icon ion-ios-list-outline"></i>Directions</ion-item>
            <ion-list id="styledSingleRecipe-list8">
                <ion-item id="styledSingleRecipe-list-item33">1 Preheat oven to 425 degrees.</ion-item>
                <ion-item id="styledSingleRecipe-list-item34">2 Heat a large ovenproof nonstick skillet over medium-high heat. Add 1 tablespoon oil; swirl to coat.</ion-item>
                <ion-item id="styledSingleRecipe-list-item35">3 Combine 1 teaspoon salt, pepper, cumin, cinnamon and ginger. Rub pork evenly with this spice mixture.</ion-item>
                <ion-item id="styledSingleRecipe-list-item40">4 Add pork to now-hot skillet; saute 4 minutes.</ion-item>
                <ion-item id="styledSingleRecipe-list-item39">5 Turn pork over; place pan in oven and roast for 15 minutes, or until an instant-read thermometer registers 140 degrees.</ion-item>
                <ion-item id="styledSingleRecipe-list-item38">6 Remove pork from pan; place on a cutting board or plate and tent loosely with foil. Do not wipe out pan.</ion-item>
                <ion-item id="styledSingleRecipe-list-item37">7 While pork is resting, add remaining 1 tablespoon oil to pan; swirl to coat.</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>