<ion-view title="Weekly Menu" id="page2">
    <ion-content padding="true" class="has-header">
        <h2 id="weeklyMenu-heading1" style="color:#000000;text-align:center;">July 18-24</h2>
        <div id="weeklyMenu-markdown1" style="color:#000000;text-align:center;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <ion-list id="weeklyMenu-list2">
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item4" ui-sref="tabsController.singleRecipe">
                <img src="img/lIDGXMXbQeWEWhnjuUZl_dsc_0545-1800x1197.display.jpg">
                <h2>Monday</h2>
                <p>Meatball Sliders</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item5" ui-sref="tabsController.singleRecipe">
                <img src="img/LuAQFNNQlOuYWORDvcBC_dsc_0978.display.jpg">
                <h2>Tuesday</h2>
                <p style="white-space:normal;">Pork Tenderloin with Roasted Cherries</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item6" ui-sref="tabsController.singleRecipe">
                <img src="img/El9JFE1TfCzRcAL8XppN_f7419f47-5198-4381-b282-4593f3530762.display.jpg">
                <h2>Wednesday</h2>
                <p>Beef, Red Pepper and Snow Pea Stir-Fry</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item7">
                <img src="img/o2JFd0gfQYWMXQB681q2_dsc_0382-1-1800x1197.display.jpg">
                <h2>Thursday</h2>
                <p style="white-space:normal;">Chicken wtih Pesto Cream and Orzo with Parmesan Cheese</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item8">
                <img src="img/MXzFRtl4QDhdguZ7OGwH_dsc_0870.display.jpg">
                <h2>Friday</h2>
                <p>Lemon Tiramisu</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item90">
                <img src="img/kk2RUJuR0mx8c0gmPR5w_img_2310.display.jpg">
                <h2>Saturday</h2>
                <p>Slow-Cooker Tequila-Lime Pork Tacos, Southwestern Corn Sauté</p>
            </ion-item>
        </ion-list>
        <button id="weeklyMenu-button1" class="button button-positive  button-block">Previous week</button>
    </ion-content>
</ion-view>